@{
    var db = Database.Open("Board");
    var threads = db.Query("SELECT * FROM Posts WHERE ParentId IS NULL");

}

@foreach(var thread in threads){
    <div>
        <h3><a href="~/Thread/@thread.ThreadId">@thread.Title</a></h3>
        <div>Posted by: @thread.UserName at @thread.DatePosted.ToString("F")</div>
    </div>
}

<a href="~/">Home</a>