@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="~/Styles/StyleSheet.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>@Page.Title</h1>
        @RenderBody()
        <div id="home">
            <a href="~/">Home</a>
        </div>
    </body>
</html>
